@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik SemiBold";
  src: url("../fonts/Rubik-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: semibold;
  font-display: swap;
}
@font-face {
  font-family: "Rubik Medium";
  src: url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik Bold";
  src: url("../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "Rubik";
}

.hero {
  background-image: url("/img/hero.png");
  background-size: cover;
  width: 100%;
  height: 852px;
  display: flex;
  justify-content: center;
}
.hero .inside-block {
  width: 80%;
  padding: 40px 0 203px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  gap: 197px;
  margin-bottom: 112px;
}
header .navigation-link {
  margin-left: 43px;
  text-decoration: none;
  display: flex;
  gap: 52px;
}
header .navigation-link a {
  font-family: "Rubik";
  color: #FFF;
  text-decoration: none;
}
header .btn {
  width: 140px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(237, 255, 129, 0.4);
  border-radius: 116px;
  cursor: pointer;
  color: #FFF;
  font-family: "Rubik Medium";
}

.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
}
.hero-text .hero-main-text {
  width: 809px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: #FFF;
  text-align: center;
}
.hero-text .hero-main-text h1 {
  width: 100%;
  font-family: "Rubik Semibold";
  font-size: 90px;
  letter-spacing: 3px;
}
.hero-text .hero-main-text h2 {
  width: 158px;
  font-family: "Rubik Medium";
  font-size: 2rem;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.7);
}
.hero-text .hero-main-text p {
  font-family: "Rubik";
  width: 80%;
  height: 80px;
  font-size: 1.3rem;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.5);
}
.hero-text .btn-CTA {
  background: linear-gradient(329deg, #98AA28 13%, #D6FF7E 121%);
  box-shadow: 0px 34px 50px rgba(7, 63, 67, 0.1);
  color: #FFF;
  font-family: "Rubik Semibold";
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 192px;
  border-color: #FFF;
  width: 243px;
  height: 78px;
}

.partner {
  width: 100%;
  height: 20vh;
  background-color: #F6FBF9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 125px;
}

.services {
  width: 100%;
  height: 1378px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 120px;
}
.services .services-part-1 {
  display: flex;
  align-items: start;
  gap: 110px;
}
.services .services-part-1 .service-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 42px;
}
.services .services-part-1 .service-text div {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.services .services-part-1 .service-text div h2 {
  width: 488px;
  font-family: "Rubik Bold";
  font-size: 42px;
  line-height: 65px;
  color: #253D32;
}
.services .services-part-1 .service-text div p {
  width: 424px;
  font-family: "Rubik";
  font-size: 22px;
  line-height: 40px;
  color: #78847D;
}
.services .services-part-1 .btn-link {
  height: 28px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: #A3B938;
  text-decoration: underline;
  letter-spacing: 1px;
  font-family: "Rubik Medium";
  font-size: 1.5rem;
}
.services .services-part-1 .strategies {
  width: 572px;
  height: 558px;
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-rows: 239px 239px;
  gap: 80px 90px;
}
.services .services-part-1 .strategies article {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
.services .services-part-1 .strategies article .text-art {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}
.services .services-part-1 .strategies article .text-art h3 {
  font-family: "Rubik Medium";
  font-size: 1.5rem;
  color: #253D32;
  line-height: 28px;
}
.services .services-part-1 .strategies article .text-art p {
  font-family: "Rubik";
  font-size: 1.1rem;
  color: #78847D;
  line-height: 32px;
}
.services .services-part-2 {
  width: 1244px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 66px;
  margin-right: 70px;
}
.services .services-part-2 .text-social {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 50px;
}
.services .services-part-2 .text-social div {
  width: 488px;
  height: 240px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
}
.services .services-part-2 .text-social div h2 {
  font-family: "Rubik Bold";
  font-size: 42px;
  line-height: 65px;
  color: #253D32;
}
.services .services-part-2 .text-social div p {
  font-family: "Rubik";
  font-size: 22px;
  line-height: 40px;
  color: #78847D;
}
.services .services-part-2 .btn-CTA {
  background: linear-gradient(329deg, #98AA28 13%, #D6FF7E 121%);
  box-shadow: 0px 34px 50px rgba(7, 63, 67, 0.1);
  color: #FFF;
  font-family: "Rubik Semibold";
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 192px;
  border-color: #FFF;
  width: 243px;
  height: 78px;
}/*# sourceMappingURL=main.css.map */